<div class="cardProduct">
    <div class="cardProduct__image">
        <span
            style="background-image: url(&quot;https://i1.sndcdn.com/artworks-4BIlataFBWpJkyb6-c6eHtA-t50x50.jpg&quot;);"
            class=""></span>
    </div>
    <div class="cardProduct__content">
        <div class="cardProduct__info">
            <div class="cardProduct__name">Full Show Ticket</div>
            <div class="cardProduct__synopsis">Attend any full show during the tour period.</div>
        </div>
        <div class="cardProduct__actions flex-item">
            <ul class="list--inline">
                <li>
                    <div name="follow-button" class="Module FollowButton" theme="DARK" style=""><a href="#"
                            action="follow" class="button space-between" theme="WHITE-OPAQUE">
                            <p>$4.99</p>
                            <!-- <span class="icon icon-plus"
                                aria-hidden="true"></span> -->
                        </a></div>
                </li>
            </ul>
        </div>
    </div>
</div>