<div step="login" class="Module CheckoutStep Widget Form" theme="LIGHT">
    <h2><a href="#" class="selected">Log In</a></h2>
    <h2><a href="#" action="signup">Sign Up</a></h2>
    <a href="#" action="fb-login" class="button hide-mobile"
        theme="FACEBOOK">
        <p>Log in with Facebook</p> <span class="icon icon-arrow-right" aria-hidden="true"></span>
    </a> <a href="#" action="signup" class="button small hide-mobile" theme="BLUE">
        <p>Sign up via email</p> <span class="icon icon-arrow-right" aria-hidden="true"></span>
    </a>
    <h3 class="hide-mobile">Or log in with your email</h3>
    <form name="form" action="#" method="POST">
        <div name="email" class="Input Textbox Module has-label email has-left-icon" theme="LIGHT" style="">
            <div class="icon-container left"> <span class="icon icon-envelope" aria-hidden="true"></span> </div>
            <div class="background"></div>
            <div class="label-container">
                <div class="label">Email</div>
            </div> <input type="text" autocapitalize="off" autocomplete="off" maxlength="51">
            <div class="border-container"></div>
        </div>
        <div name="password" class="Input Textbox Module has-label password has-left-icon" theme="LIGHT" style="">
            <div class="icon-container left"> <span class="icon icon-key" aria-hidden="true"></span>
            </div>
            <div class="background"></div>
            <div class="label-container">
                <div class="label">Password</div>
            </div> <input type="password" autocapitalize="off" autocomplete="off" maxlength="501">
            <div class="border-container"></div>
        </div> <a href="#" action="submit" class="button" theme="BLUE">
            <p>Log in</p> <span class="icon icon-arrow-right" aria-hidden="true"></span>
        </a> <a href="#" action="forgot-password">Forgot password?</a>
    </form>
</div>