<div style="" class="Overlay OrderComplete Module View vp-min-height" theme="DARK">
    <div class="backdrop" theme="DARK" style="opacity: 0.65;"></div>
    <div class="background hide-mobile"
        style="background-image: url('https://static.tixr.com/static/images/external/img/claptone/18785/23/background/claptone-exclusive-vinyl-sets.jpg');">
    </div>
    <div class="background hide-desktop"
        style="background-image: url('https://static.tixr.com/static/images/external/img/claptone/18785/23/mobile/claptone-exclusive-vinyl-sets.jpg');">
    </div>
    <div class="head">
        <div class="background"></div>
        <div class="content"> <a href="/" class="logo hide-mobile"><span class="icon icon-tixr"
                    aria-hidden="true"></span></a> <a href="/home" class="logo home hide-desktop">My Home</a> <a
                href="/home/media" class="button small hide-mobile" theme="BLUE">
                <p>My Media</p>
            </a>
            <div name="avatar" class="Module Avatar show-menu small" theme="DARK" style=""><a href="#" action="log-in"
                    style="display: none;">Log In</a>
                <div class="initials" style="">JH</div>
                <div class="hover-wrapper">
                    <div class="popover" style=""> <span class="icon icon-diamond" aria-hidden="true"></span> <a
                            href="/home/events">My Events</a> <a href="/home/media">My Media</a> <a
                            href="/home/orders">My Orders</a> <a href="/home/payment">Payment Method</a> <a
                            href="/home/profile">My Profile</a>
                        <hr> <a href="/logout"><span class="icon icon-power" aria-hidden="true"></span>Log Out</a>
                    </div>
                </div>
            </div> <a href="#" action="close"> <span class="icon icon-close" aria-hidden="true"></span> </a>
        </div>
    </div>
    <div class="body">
        <div class="background hide-desktop" action="mobile-collapse"></div>
        <div class="content">
            <div class="order-summary">
                <h1>You're done!</h1>
                <h3> Congrats on your order! For your records, <strong>your order ID is BEHT1R7DV</strong>. <br> A
                    confirmation email will be sent shortly to <strong>jameshedger444@gmail.com</strong> with details of
                    your order. </h3>
            </div>
            <div name="share-amplify" class="Module ShareAmplify" theme="DARK" style="">
                <div class="share-container">
                    <p class="input-copy"> Earn rewards by sharing your personal link with your friends </p>
                    <div class="input-container">
                        <div name="textbox"
                            class="flush Input Textbox Module textbox has-left-icon disabled valid has-text"
                            theme="LIGHT" style="">
                            <div class="icon-container left"> <span class="icon icon-star" aria-hidden="true"></span>
                            </div>
                            <div class="background"></div>
                            <div class="label-container">
                                <div class="label"></div>
                            </div> <input type="text" autocapitalize="off" autocomplete="off" maxlength="501"
                                disabled="disabled">
                            <div class="border-container"></div>
                        </div> <a href="#" action="copy" class="button small centered Widget ClipboardLink" theme="PINK"
                            data-clipboard-text="https://www.tixr.com/amp/1e6vj0/18785">
                            <p>Copy</p>
                        </a>
                    </div>
                    <p class="share-copy"> Or by sharing below </p>
                    <div class="links-container"> <a href="#" action="facebook"><span class="icon icon-facebook"
                                aria-hidden="true"></span></a> <a href="#" action="twitter"><span
                                class="icon icon-twitter" aria-hidden="true"></span></a> <a href="#"
                            action="pinterest"><span class="icon icon-pinterest" aria-hidden="true"></span></a> <a
                            href="mailto:?subject=CLAPTONE%20EXCLUSIVE%20VINYL%20SETS%20Tickets!&amp;body=You%20can%20get%20your%20tickets%20here!%0A%0Ahttps://www.tixr.com/amp/1e6vj0/18785"
                            class="email"> <span class="icon icon-envelope" aria-hidden="true"></span> </a> </div>
                </div>
                <div class="rewards-container">
                    <div class="rewards-list">
                        <div class="reward-container locked" tier="1">
                            <div class="star"> <span class="icon icon-star" aria-hidden="true"></span>
                                <div class="tier">
                                    <div>1</div>
                                </div> <span class="icon lock icon-lock-2" aria-hidden="true"></span>
                            </div>
                            <div class="points"> <span class="you-earned">You earned</span> <span
                                    class="earned">Earn</span> 200 points </div>
                            <div class="message"> Watch With 2 Friends and Get 20% Back On Your Ticket </div>
                        </div>
                        <div class="reward-container locked" tier="2">
                            <div class="star"> <span class="icon icon-star" aria-hidden="true"></span>
                                <div class="tier">
                                    <div>2</div>
                                </div> <span class="icon lock icon-lock-2" aria-hidden="true"></span>
                            </div>
                            <div class="points"> <span class="you-earned">You earned</span> <span
                                    class="earned">Earn</span> 500 points </div>
                            <div class="message"> Watch With 5 Friends and Get 50% Back On Your Ticket </div>
                        </div>
                        <div class="reward-container locked" tier="3">
                            <div class="star"> <span class="icon icon-star" aria-hidden="true"></span>
                                <div class="tier">
                                    <div>3</div>
                                </div> <span class="icon lock icon-lock-2" aria-hidden="true"></span>
                            </div>
                            <div class="points"> <span class="you-earned">You earned</span> <span
                                    class="earned">Earn</span> 1,000 points </div>
                            <div class="message"> Watch With 10 Friends and Get 100% Back On Your Ticket </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer hide-desktop"> <a href="#" action="points-list">Points per Ticket</a> <a target="_blank"
                href="/rewards">About Rewards</a> <a target="_blank" href="/rewards/faq">FAQ</a> </div>
    </div>
    <div class="foot">
        <div name="media" class="hide-desktop Module MediaList hidden" theme="DARK" style="">
            <ul name="snapScroll" class="wrapper Widget SnapScrollContent horizontal snap-center" theme="DARK">
                <li class="media scroll-item">
                    <h3 class="name">Pure Gold on Vinyl (Video On Demand)</h3>
                    <div class="date">Available now</div>
                    <div class="link-container"> <a
                            href="https://www.tixr.com/groups/claptone/events/claptone-exclusive-vinyl-sets-18785/videos/136340"
                            style="background-image: url('https://static.tixr.com/static/images/external/img/claptone/18785/25/sale/media/thumb/sale136340.jpg')">
                            <div class="view-media"> <span class="icon circle-border icon-playsymbol"
                                    aria-hidden="true"></span> </div>
                        </a> </div>
                    <h3 class="media-number">1 / 1</h3>
                </li>
            </ul>
        </div>
        <div class="mobile-actions hide-desktop"> <a class="button" theme="BLUE" href="#" action="show-media">
                <p>View Media</p>
            </a> </div>
        <div class="footer hide-mobile"> <a href="#" action="points-list">Points per Ticket</a> <a target="_blank"
                href="/rewards">About Rewards</a> <a target="_blank" href="/rewards/faq">FAQ</a> </div>
    </div>
</div>