<div name="promoBox" class="Module PromoBox" theme="DARK">
    <div name="form" class="Widget Form" theme="LIGHT">
        <div name="code" class="flush Input Textbox Module has-label code has-left-icon" theme="LIGHT" style="">
            <div class="icon-container left"> <span class="icon icon-code" aria-hidden="true"></span> </div>
            <div class="background"></div>
            <div class="label-container">
                <div class="label">Enter promo code</div>
            </div> <input type="text" autocapitalize="off" autocomplete="off" maxlength="501">
            <div class="border-container"></div>
        </div> <a href="#" action="submit" class="button" theme="BLUE">
            <p><span class="icon icon-plus" aria-hidden="true"></span></p>
        </a>
    </div>
</div>