<div>
    <div class="nav-container">
        <ul class="nav">
            <li class="nav-item">
                <a routerLink="/" class="nav-link">

                    <img src="assets/images/ui-assets/Lockup.png" class="logo-stageverse" alt="Logo" />
                </a>
            </li>
            <li class="nav-item sm-hide" style="display: flex;gap: 1px; float:right">
                <a [routerLink]=""   class="nav-link">
                    <img src="/assets/images/ui-assets/apple-button.png" style="height: 60px;">
                </a>
                <a [routerLink]=""   class="nav-link">
                    <img src="/assets/images/ui-assets/android-button.png" style="height: 60px;">
                </a>
                <a [routerLink]=""   class="nav-link">
                    <img src="/assets/images/ui-assets/ring.png" style="height: 60px;">
                </a>
            </li>
            <li class="nav-item disktop-hide" style="float: right !important; margin-top: -15px;" (click)="menu=!menu">
                <a *ngIf="menu==false" href="javascript:void(0);" class="nav-link">
                    <img src="/assets/images/ui-assets/menu-icon.png" style="height: 50px;" />
                </a>
                <a *ngIf="menu==true" href="javascript:void(0);" class="nav-link">
                    <img src="/assets/images/ui-assets/menu-icon-expand.png" style="height: 50px;" />
                </a>
            </li>
        </ul>

        <ul *ngIf="menu==true" class="nav-mobile">

            <div class="logo-container">
                <h1 class="footer-big-text">
                    <li><a routerLink="/careers" class="links-a">CAREERS</a></li>
                    <li><a routerLink="/creators" class="links-a">CREATORS</a></li>
                    <li><a routerLink="/press" class="links-a">PRESS</a></li>
                    <li><a routerLink="/company" class="links-a">COMPANY</a></li>
                    <li><a routerLink="/blog" class="links-a">BLOG</a></li>
                    <li><a routerLink="/support" class="links-a">SUPPORT</a></li>
                </h1>
            </div>

            <div class="content footer madam">
                <app-footer></app-footer>
            </div>

            <li class="nav-item-mobile">



                <a [routerLink]=""   class="nav-link">
                    <img src="/assets/images/ui-assets/apple-button.png" style="height: 40px;">
                </a>
                <a [routerLink]=""   class="nav-link">
                    <img src="/assets/images/ui-assets/android-button.png" style="height: 40px;">
                </a>
                <a [routerLink]=""   class="nav-link">
                    <img src="/assets/images/ui-assets/ring.png" style="height: 40px;">
                </a>
            </li>

            <div class="social-media-footer-container term-social-media-top-container">
                <a href="https://www.instagram.com/stageverse" target="blank" class="social-media-footer links-a"><img
                        src="assets/images/ui-assets/instagram.png" alt="instagram icon"></a>
                <a href=" https://discord.com/invite/uhMjf7sF6Z" target="blank" class="social-media-footer links-a"><img
                        src="assets/images/ui-assets/discord.png" alt="social icon"></a>
                <a href="https://www.linkedin.com/company/stageverse" target="blank"
                    class="social-media-footer links-a"><img src="assets/images/ui-assets/linkedIn.png"
                        alt="linkedIn icon"></a>
                <a href="https://twitter.com/thestageverse" target="blank" class="social-media-footer links-a"><img
                        src="assets/images/ui-assets/twitter.png" alt="twitter icon"></a>
                <a href="#" class="social-media-footer links-a"><img src="assets/images/ui-assets/Frame1846.svg"
                        alt="twitter icon"></a>
            </div>
            <div class="footer-copyright copy-right-pos">© 2021 Stage, Inc.</div>
        </ul>
    </div>
    <div class="body">
        <div class="hero-image">
            <h1 class="hero-text">Terms of Service</h1>


        </div>
        <!-- =========================== -->
        <!-- =============================================================== -->
        <div class="p-y-30">
            <div class="container-flex">
                <div class="flex-1">
                    <div>
                        <div>
                            <h2 class="h-2">Our mission is to UNITE COMMUNITES THROUGH CREATIVITY.</h2>
                        </div>
                        <div style="margin-top: 5vh;">
                            <p class="p-3">We are Stage Inc., an entertainment technology company and creator of Stageverse, a new virtual world for creative pioneers to make magic without limits, hosting unforgettable immersive shared experiences that bring people together through any mobile device - coming soon to desktop and virtual reality.</p>

                            <p class="p-3"> As the lines become blurred between our online and offline worlds, Stageverse is closing the gap between physical and virtual spaces and building a playground for creators and their communities to create the next generation of experiences.</p>
                                
                            <p class="p-3">We're a completely distributed passionate team of creative technologists, engineers, architects, musicians, SFX artists, character designers, film-makers, game designers and marketers. Currently based out of Los Angeles and Sydney.</p>
                        </div>
                    </div>
                   

                </div>
                <div class="flex-1">
                    <div class="container-links">
                        <h4 class="sm-head"> Links</h4>
                        <ul>
                            <li class="p-y-10">
                                <a routerLink="/company" class="links-a link-font">Company</a>
                            </li>
                            <li class="p-y-10">
                                <a routerLink="/creators"  class="links-a link-font">Creators</a>
                            </li>
                            <li class="p-y-10">
                                <a routerLink="/press"  class="links-a link-font">Press</a>
                            </li>
                            <li class="p-y-10">
                                <a routerLink="/privacy"  class="links-a link-font">Privacy</a>
                            </li>
                            <li class="p-y-10">
                                <a routerLink="/terms-of-service"  class="links-a link-font">Terms</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
       
        <!-- =========================================================== -->
        <div>
            <div class="title-container">
                <h1 class="title-sm">DOWNLOAD</h1>
                <h1 class="title-lg">GET THE STAGEVERSE APP AND JUMP IN</h1>
            </div>
        </div>
        <div>
            <div class="download-container">
                <a href="#" > <img src="/assets/images/ui-assets/ios-btn.png" class="download-img-btn" /></a>
                <a href="#" ><img src="/assets/images/ui-assets/android-btn.png" class="download-img-btn" /></a>
                <a href="#" ><img src="/assets/images/ui-assets/quest-btn.png" class="download-img-btn" /></a>
                <h2 class="donwnload-sub-text">comming soon to mac and pc</h2>
            </div>
        </div>
        <div>
            <div class="example-collection-grid sm-hide">
                <div class="example-collection-cell">
                    <div class="example-collection-item download-1">
                        <div class="download">
                            <h2 class="download-title">IOS</h2>
                            <img class="download-img" src="/assets/images/ui-assets/apple.png" />
                            <a class="left-image-text-btn download-btn" href="javascript:void(0);">Download<img src="/assets/images/ui-assets/arrow-white.png"/></a>

                        </div>

                    </div>
                </div>
                <div class="example-collection-cell ">
                    <div class="example-collection-item download-2" >
                        <div class="download">
                            <h2 class="download-title">android</h2>
                            <img class="download-img" src="/assets/images/ui-assets/android.png" />
                            <a class="left-image-text-btn download-btn" href="javascript:void(0);">Download<img src="/assets/images/ui-assets/arrow-white.png"/></a>

                        </div>

                    </div>
                </div>
                <div class="example-collection-cell">
                    <div class="example-collection-item download-3">
                        <div class="download">
                            <h2 class="download-title">Quest</h2>
                            <img class="quest" src="/assets/images/ui-assets/opera.png" />
                            <a class="left-image-text-btn download-btn" href="javascript:void(0);">Download<img src="/assets/images/ui-assets/arrow-white.png"/></a>

                        </div>

                    </div>
                </div>
                <div class="example-collection-cell">
                    <div class="example-collection-item download-4">
                        <div class="download coming-soon">
                            <img class="download-img" src="/assets/images/ui-assets/coming-soon.png" />

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- =======================footer============================================================================================== -->
        <app-footer-two></app-footer-two>
    </div>

    <div class="content footer footer-mt">
        <app-footer></app-footer>
        <div class="footer-copyright copy-right-bottom mobile">© 2021 Stage, Inc.</div>


    </div>

</div>