<footer id="footer">
    <div class="menu-footer-container">
        <ul id="menu-footer" class="menu">
            <li id="menu-item-300781"
                class="tw menu-item menu-item-type-custom menu-item-object-custom menu-item-300781"><a target="_blank"
                    rel="noopener noreferrer" href="https://twitter.com/output"><i class="fab fa-twitter"></i></a></li>
            <li id="menu-item-300782"
                class="fb menu-item menu-item-type-custom menu-item-object-custom menu-item-300782"><a target="_blank"
                    rel="noopener noreferrer" href="https://facebook.com/output"><i class="fab fa-facebook"></i></a>
            </li>
            <li id="menu-item-300783"
                class="yt menu-item menu-item-type-custom menu-item-object-custom menu-item-300783"><a target="_blank"
                    rel="noopener noreferrer" href="https://www.youtube.com/outputsounds"><i
                        class="fab fa-youtube"></i></a></li>
            <li id="menu-item-300784"
                class="ig menu-item menu-item-type-custom menu-item-object-custom menu-item-300784"><a target="_blank"
                    rel="noopener noreferrer" href="https://instagram.com/output/"><i class="fab fa-instagram"></i></a>
            </li>
            <li id="menu-item-353451"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-353451">
                <a href="#">&nbsp;</a>
                <ul class="sub-menu">
                    <li id="menu-item-353453"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-353453"><a
                            href="https://output.com/dealers">Dealers</a></li>
                    <li id="menu-item-353454"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-353454"><a
                            href="https://output.com/returns">Returns</a></li>
                    <li id="menu-item-411159"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-411159"><a
                            href="https://output.com/shipping">Shipping</a></li>
                    <li id="menu-item-1291741"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1291741"><a
                            href="https://output.com/company#contact">Contact Us</a></li>
                </ul>
            </li>
            <li id="menu-item-353452"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-353452">
                <a href="#">&nbsp;</a>
                <ul class="sub-menu">
                    <li id="menu-item-1277750"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1277750"><a
                            target="_blank" rel="noopener noreferrer" href="https://output.freshteam.com/jobs">Jobs</a>
                    </li>
                    <li id="menu-item-403523"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-403523">
                        <a href="https://output.com/legal/privacy">Privacy Policy</a></li>
                    <li id="menu-item-403522"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-403522"><a
                            href="https://output.com/legal">Terms &amp; Conditions</a></li>
                    <li id="menu-item-372384"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-372384"><a
                            href="https://output.com/output-student-discount">Students &amp; Military</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="footer-output-bar">
        <a class="footer-output" href="https://output.com" title="OUTPUT | Be Creative">OUTPUT | Be Creative</a>
    </div>
    <div id="socket">
        <div class="container">
            <div class="box">
                <span class="copyright">© 2021 Output</span>
                <a class="sitemap" href="/sitemap.html">Sitemap</a>
                <ul>
                    <li><i class="fab fa-lg fa-paypal"></i></li>
                    <li><i class="fab fa-lg fa-cc-visa"></i></li>
                    <li><i class="fab fa-lg fa-cc-mastercard"></i></li>
                    <li><i class="fab fa-lg fa-cc-discover"></i></li>
                    <li><i class="fab fa-lg fa-cc-amex"></i></li>
                </ul>
            </div>
        </div>
    </div>
</footer>