<div style="" class="Overlay Message overlay-hidden Module View vp-min-height" theme="DARK">
    <div class="backdrop"></div>
    <div class="background"
        style="background-image:url('https://static.tixr.com/static/images/external/img/d699ef11-b128-47f4-9843-421c0bffbbd8.jpg');">
    </div>
    <div class="head">
        <div class="background"></div>
        <div class="content">
            <div name="avatar"></div> <a href="#" action="close"> <span class="icon icon-close"
                    aria-hidden="true"></span> </a>
        </div>
    </div>
    <div class="body">
        <div class="content info">
            <h2 class="heading">Sarah Natochenny Sunday July 12, 5-5:30pm EST</h2>
            <div class="message">
                <div><strong>Live Video Chats:&nbsp;</strong>Exclusive, 3-minute private one-on-one video chats with
                    <strong>Sarah Natochenny of Pokemon</strong><strong>.&nbsp;</strong>After purchasing, The virtual
                    Link will be live&nbsp; 30 minutes before the start time. Use full first and Last name so that we
                    can account for all purchased greetings. Video Chats will be free from any promotions or
                    advertisements. Video Chats will have a maximum of 7 other fans in a chat room behind the scenes
                    that have purchased for that time slot.</div>
                <div>&nbsp;</div>
                <div>
                    <div>&nbsp;</div>
                    <div>TERMS</div>
                    <div>All tickets are final sale and cannot be exchanged or refunded. In the case of an event
                        cancellation without a rescheduled date, a full refund will be automatically issued to each
                        patron on the credit card used to purchase. By purchasing a ticket to this event, you agree to
                        this purchase policy. Before purchasing your tickets, we urge you to confirm the title, time and
                        location of the event.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="foot"></div>
</div>