@-webkit-keyframes spinClockwise{
    0%{
        transform:rotate(0)
    }
    100%{
        transform:rotate(360deg)
    }
}
@keyframes spinClockwise{
    0%{
        transform:rotate(0)
    }
    100%{
        transform:rotate(360deg)
    }
}