.Module {
    position: relative;
}
/* eventlist */
.Module.EventList > .content {
    position: relative;
}
@media (min-width: 800px) {
    .Module.EventList > .content {
        padding: 1rem 0;
    }
}
@media (max-width: 799px) {
    .Module.EventList > .content {
        padding: 0.5rem 0;
    }
}
.Module.EventList > .content .event-list > li {
    position: relative;
}
@media (min-width: 800px) {
    .Module.EventList > .content.LIST .event-list {
        padding: 0 10.7rem;
    }
}
@media (max-width: 799px) {
    .Module.EventList > .content.LIST .event-list {
        padding: 0 1rem;
    }
}
.Module.EventList > .content.LIST .event-list > li {
    border-radius: 3px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}
@media (min-width: 800px) {
    .Module.EventList > .content.LIST .event-list > li:hover {
        transform: scale(1.02);
    }
}
.Module.EventList > .content.LIST .event-list > li + li {
    margin-top: 0.7rem;
}
.Module.EventList > .content.LIST .event-list > li > a {
    display: flex;
    align-items: center;
    min-height: 5rem;
}
.Module.EventList > .content.LIST .event-list > li > a .details {
    flex: 1;
}
@media (min-width: 800px) {
    .Module.EventList > .content.LIST .event-list > li > a .details {
        margin-left: 1.3rem;
    }
}
@media (max-width: 799px) {
    .Module.EventList > .content.LIST .event-list > li > a .details {
        margin-left: 0.7rem;
    }
}
@media (min-width: 800px) {
    .Module.EventList > .content.LIST .event-list > li > a .details .dates {
        font-weight: 500;
        font-size: 1rem;
        letter-spacing: 0;
        line-height: 1.286rem;
    }
}
@media (max-width: 799px) {
    .Module.EventList > .content.LIST .event-list > li > a .details .dates {
        font-weight: 500;
        font-size: 0.929rem;
        letter-spacing: 0;
        line-height: 1.429rem;
    }
}
@media (min-width: 800px) {
    .Module.EventList > .content.LIST .event-list > li > a .details .dates {
        margin-bottom: 0.2rem;
    }
}
@media (min-width: 800px) {
    .Module.EventList > .content.LIST .event-list > li > a .details .name-venue {
        font-weight: 500;
        font-size: 1.286rem;
        letter-spacing: 0.021rem;
        line-height: 1.429rem;
    }
}
@media (max-width: 799px) {
    .Module.EventList > .content.LIST .event-list > li > a .details .name-venue {
        font-weight: 500;
        font-size: 1.071rem;
        letter-spacing: 0.018rem;
        line-height: 1.429rem;
        margin-bottom: 0.2rem;
    }
}
.Module.EventList > .content.LIST .event-list > li > a .location {
    flex: 0 0 17%;
}
@media (min-width: 800px) {
    .Module.EventList > .content.LIST .event-list > li > a .location {
        font-weight: 500;
        font-size: 1rem;
        letter-spacing: 0;
        line-height: 1.286rem;
    }
}
.Module.EventList > .content.LIST .event-list > li > a .location .icon {
    margin-right: 0.5rem;
    font-size: 1.2rem;
}
.Module.EventList > .content.LIST .event-list > li > a .price {
    flex: 0 0 15%;
    align-self: flex-start;
    text-align: right;
}
.Module.EventList > .content.LIST .event-list > li > a .price .minimum-price {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 3px;
    z-index: 1;
    padding: 0.45rem 0.75rem;
}
.Module.EventList > .content.LIST .event-list > li > a .price .minimum-price > .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ff0032;
    z-index: 0;
}
.Module.EventList > .content.LIST .event-list > li > a .price .minimum-price > .label {
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.018rem;
    line-height: 1.214rem;
    position: relative;
    white-space: nowrap;
    color: #fff;
    z-index: 10;
}
.Module.EventList > .content.LIST .event-list > li > a .price .minimum-price.inactive > .background {
    background-color: #888;
}
.Module.EventList > .content.FLYER,
.Module.EventList > .content.GRID {
    width: 100%;
}
.Module.EventList > .content.FLYER .event-list,
.Module.EventList > .content.GRID .event-list {
    clear: both;
}
.Module.EventList > .content.FLYER .event-list > li,
.Module.EventList > .content.GRID .event-list > li {
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}
@media (min-width: 800px) {
    .Module.EventList > .content.FLYER .event-list > li,
    .Module.EventList > .content.GRID .event-list > li {
        width: 20.4rem;
    }
}
@media (max-width: 799px) {
    .Module.EventList > .content.FLYER .event-list > li,
    .Module.EventList > .content.GRID .event-list > li {
        width: 11rem;
    }
}
@media (min-width: 800px) {
    .Module.EventList > .content.FLYER .event-list > li:hover,
    .Module.EventList > .content.GRID .event-list > li:hover {
        transform: scale(1.05);
    }
}
.Module.EventList > .content.FLYER .event-list > li > div > a,
.Module.EventList > .content.GRID .event-list > li > div > a {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    border-radius: 3px;
}
.Module.EventList > .content.FLYER .event-list > li > div > a > .flyer,
.Module.EventList > .content.GRID .event-list > li > div > a > .flyer {
    position: relative;
    padding-top: 140%;
    background-position: 50%;
    background-size: cover;
}
.Module.EventList > .content.FLYER .event-list > li > div > a > .flyer > .cover,
.Module.EventList > .content.GRID .event-list > li > div > a > .flyer > .cover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.5s ease-in-out;
    background-color: #000;
    color: #fff;
    z-index: 0;
}
.Module.EventList > .content.FLYER .event-list > li > div > a > .flyer > .cover > .icon,
.Module.EventList > .content.GRID .event-list > li > div > a > .flyer > .cover > .icon {
    font-size: 2.5rem;
}
.Module.EventList > .content.FLYER .event-list > li > div > a > .flyer > h3,
.Module.EventList > .content.GRID .event-list > li > div > a > .flyer > h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(31, 163, 255, 0.9);
    color: #fff;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    font-weight: 800;
}
.Module.EventList > .content.FLYER .event-list > li > div > a > .flyer.loaded > .cover,
.Module.EventList > .content.GRID .event-list > li > div > a > .flyer.loaded > .cover {
    opacity: 0;
}
.Module.EventList > .content.FLYER .event-list > li > div > a > .details,
.Module.EventList > .content.GRID .event-list > li > div > a > .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 3.4rem;
    padding: 0.5rem 1rem;
}
.Module.EventList > .content.FLYER .event-list > li > div > a > .details > .footnote,
.Module.EventList > .content.FLYER .event-list > li > div > a > .details > .name,
.Module.EventList > .content.GRID .event-list > li > div > a > .details > .footnote,
.Module.EventList > .content.GRID .event-list > li > div > a > .details > .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0;
    font-weight: 500;
}
.Module.EventList > .content.FLYER .event-list > li > div > a > .details > .name,
.Module.EventList > .content.GRID .event-list > li > div > a > .details > .name {
    line-height: 1.4rem;
    letter-spacing: 0.02rem;
}
@media (min-width: 800px) {
    .Module.EventList > .content.FLYER .event-list > li > div > a > .details > .name,
    .Module.EventList > .content.GRID .event-list > li > div > a > .details > .name {
        font-size: 1.2rem;
    }
}
@media (max-width: 799px) {
    .Module.EventList > .content.FLYER .event-list > li > div > a > .details > .name,
    .Module.EventList > .content.GRID .event-list > li > div > a > .details > .name {
        font-size: 0.9rem;
    }
}
@media (max-width: 799px) {
    .Module.EventList > .content.FLYER .event-list > li > div > a > .details > .footnote,
    .Module.EventList > .content.GRID .event-list > li > div > a > .details > .footnote {
        font-size: 0.75rem;
    }
}
.Module.EventList > .content.FLYER .event-list > li > div > a > .minimum-price,
.Module.EventList > .content.GRID .event-list > li > div > a > .minimum-price {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    border-bottom-left-radius: 3px;
    z-index: 1;
    padding: 0.45rem 0.75rem;
}
.Module.EventList > .content.FLYER .event-list > li > div > a > .minimum-price > .background,
.Module.EventList > .content.GRID .event-list > li > div > a > .minimum-price > .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ff0032;
    z-index: 0;
}
.Module.EventList > .content.FLYER .event-list > li > div > a > .minimum-price > .label,
.Module.EventList > .content.GRID .event-list > li > div > a > .minimum-price > .label {
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.018rem;
    line-height: 1.214rem;
    position: relative;
    color: #fff;
    white-space: nowrap;
    z-index: 10;
}
.Module.EventList > .content.FLYER .event-list > li > div > a > .minimum-price.inactive > .background,
.Module.EventList > .content.GRID .event-list > li > div > a > .minimum-price.inactive > .background {
    background-color: #888;
}
.Module.EventList > .content.FLYER .event-list > li > div > a > .minimum-price.hide-price,
.Module.EventList > .content.GRID .event-list > li > div > a > .minimum-price.hide-price {
    display: none;
}
@media (min-width: 800px) {
    .Module.EventList > .content.FLYER .event-list > li > div > a:hover > .flyer > h3,
    .Module.EventList > .content.GRID .event-list > li > div > a:hover > .flyer > h3 {
        opacity: 1;
    }
}
.Module.EventList > .content.FLYER .gradient-left,
.Module.EventList > .content.FLYER .gradient-right,
.Module.EventList > .content.FLYER [action="scroll-left"],
.Module.EventList > .content.FLYER [action="scroll-right"] {
    position: absolute;
    top: 0;
    bottom: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
}
.Module.EventList > .content.FLYER [action="scroll-left"],
.Module.EventList > .content.FLYER [action="scroll-right"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    z-index: 100;
    opacity: 0;
}
.Module.EventList > .content.FLYER [action="scroll-left"] > .icon,
.Module.EventList > .content.FLYER [action="scroll-right"] > .icon {
    font-size: 3rem;
    font-weight: 800;
}
.Module.EventList > .content.FLYER .gradient-left,
.Module.EventList > .content.FLYER [action="scroll-left"] {
    left: 0;
}
.Module.EventList > .content.FLYER .gradient-right,
.Module.EventList > .content.FLYER [action="scroll-right"] {
    right: 0;
}
.Module.EventList > .content.FLYER > .gradient-left,
.Module.EventList > .content.FLYER > .gradient-right {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 20;
}
@media (min-width: 800px) {
    .Module.EventList > .content.FLYER > .gradient-left,
    .Module.EventList > .content.FLYER > .gradient-right {
        width: 12rem;
    }
}
@media (max-width: 799px) {
    .Module.EventList > .content.FLYER > .gradient-left,
    .Module.EventList > .content.FLYER > .gradient-right {
        width: 4rem;
    }
}
@media (min-width: 800px) {
    .Module.EventList > .content.FLYER .event-list {
        padding: 0 9.3rem;
    }
}
@media (max-width: 799px) {
    .Module.EventList > .content.FLYER .event-list {
        padding: 0 1.5rem;
    }
}
@media (min-width: 800px) {
    .Module.EventList > .content.FLYER .event-list > li + li {
        margin-left: 1.4rem;
    }
}
@media (max-width: 799px) {
    .Module.EventList > .content.FLYER .event-list > li + li {
        margin-left: 0.7rem;
    }
}
.Module.EventList > .content.GRID .event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 9.3rem;
    margin-left: -0.7rem;
    margin-right: -0.7rem;
}
.Module.EventList > .content.GRID .event-list > li {
    display: block;
    margin: 0 0.7rem 4rem;
}
@media (min-width: 800px) {
    .Module.EventList > .content.GRID .event-list > li {
        flex: 1 0 18rem;
        max-width: 21rem;
    }
}
.Module.EventList > .content.GRID .event-list > li > a {
    margin: 0 auto;
}
.Module.EventList > .content.GRID .card-list > div {
    position: relative;
    padding-top: 53.73%;
    margin: 0 1rem;
    border-radius: 3px;
    overflow: hidden;
    z-index: 20;
}
.Module.EventList > .content.GRID .card-list > div + div {
    margin-top: 1rem;
}
.Module.EventList > .content.GRID .card-list > div > a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}
.Module.EventList > .content.GRID .card-list > div > .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: 50%;
    background-size: cover;
}
.Module.EventList > .content.GRID .card-list > div .foreground {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
}
.Module.EventList > .content.GRID .card-list > div .foreground > .row-top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
}
.Module.EventList > .content.GRID .card-list > div .foreground > .row-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
.Module.EventList > .content.GRID .card-list > div .foreground .age-restriction,
.Module.EventList > .content.GRID .card-list > div .foreground .details,
.Module.EventList > .content.GRID .card-list > div .foreground .name {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}
.Module.EventList > .content.GRID .card-list > div .foreground .name {
    font-weight: 800;
    font-size: 1.429rem;
    letter-spacing: 0;
    line-height: 1.714rem;
    margin-bottom: 0.6rem;
}
.Module.EventList > .content.GRID .card-list > div .foreground .age-restriction,
.Module.EventList > .content.GRID .card-list > div .foreground .details {
    font-weight: 500;
    font-size: 1.071rem;
    letter-spacing: 0.018rem;
    line-height: 1.429rem;
}
.Module.EventList > .content.GRID .card-list > div .foreground .age-restriction {
    flex: 1;
    margin-top: 0.45rem;
}
.Module.EventList > .content.GRID .card-list > div .foreground .minimum-price {
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 3px;
    z-index: 1;
    padding: 0.45rem 0.75rem;
}
.Module.EventList > .content.GRID .card-list > div .foreground .minimum-price > .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ff0032;
    z-index: 0;
}
.Module.EventList > .content.GRID .card-list > div .foreground .minimum-price > .label {
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.018rem;
    line-height: 1.214rem;
    position: relative;
    white-space: nowrap;
    color: #fff;
    z-index: 10;
}
.Module.EventList > .content.GRID .card-list > div .foreground .minimum-price.inactive > .background {
    background-color: #888;
}
.Module.EventList > .content.empty {
    height: auto;
    margin: 0;
    padding: 4rem 1rem;
    text-align: center;
}
.Module.EventList > .content.empty h2 {
    margin-bottom: 1rem;
}
@media (min-width: 800px) {
    .Module.EventList.show-chrome > .content.FLYER:hover [action="scroll-left"],
    .Module.EventList.show-chrome > .content.FLYER:hover [action="scroll-right"] {
        pointer-events: all;
        opacity: 0.4;
    }
    .Module.EventList.show-chrome > .content.FLYER [action="scroll-left"]:hover,
    .Module.EventList.show-chrome > .content.FLYER [action="scroll-right"]:hover {
        opacity: 0.9;
    }
}
@media (max-width: 799px) {
    .Module.EventList.show-chrome > .content.FLYER [action="scroll-left"],
    .Module.EventList.show-chrome > .content.FLYER [action="scroll-right"] {
        pointer-events: all;
        opacity: 0.4;
    }
}
.Module.EventList [name="scroll-content"] {
    transition: transform 1s ease-in-out;
}
.Module.EventList.unseen [name="scroll-content"] {
    transform: translateX(100%);
}
.Module.EventList[theme="DARK"] > .content.LIST {
    color: #fff;
}
.Module.EventList[theme="DARK"] > .content.LIST .event-list > li {
    background-color: #585858;
}
.Module.EventList[theme="DARK"] > .content.LIST .event-list > li:hover {
    background-color: #4b4b4b;
}
.Module.EventList[theme="DARK"] > .content.FLYER,
.Module.EventList[theme="DARK"] > .content.GRID,
.Module.EventList[theme="DARK"] > .content.LIST .event-list > li > a {
    color: #fff;
}
.Module.EventList[theme="DARK"] > .content.FLYER .event-list > li,
.Module.EventList[theme="DARK"] > .content.GRID .event-list > li {
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2);
}
.Module.EventList[theme="DARK"] > .content.FLYER .event-list > li > div > a > .details,
.Module.EventList[theme="DARK"] > .content.GRID .event-list > li > div > a > .details {
    background-color: #111;
    color: #fff;
}
.Module.EventList[theme="DARK"] > .content.FLYER .event-list > li > div > a > .details > .footnote,
.Module.EventList[theme="DARK"] > .content.GRID .event-list > li > div > a > .details > .footnote {
    color: #888;
}
.Module.EventList[theme="DARK"] > .content.FLYER [action="scroll-left"],
.Module.EventList[theme="DARK"] > .content.FLYER [action="scroll-right"],
.Module.EventList[theme="DARK"] > .content.GRID [action="scroll-left"],
.Module.EventList[theme="DARK"] > .content.GRID [action="scroll-right"] {
    color: #fff;
}
.Module.EventList[theme="DARK"] > .content.GRID .card-list > div .foreground {
    background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.75));
}
.Module.EventList[theme="DARK"] > .content.GRID .card-list > div .foreground .row-top {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.39213) 9.99%,
        rgba(0, 0, 0, 0.37037) 19.07%,
        rgba(0, 0, 0, 0.3375) 27.44%,
        rgba(0, 0, 0, 0.2963) 35.26%,
        rgba(0, 0, 0, 0.24954) 42.72%,
        rgba(0, 0, 0, 0.2) 50%,
        rgba(0, 0, 0, 0.15046) 57.28%,
        rgba(0, 0, 0, 0.1037) 64.74%,
        rgba(0, 0, 0, 0.0625) 72.56%,
        rgba(0, 0, 0, 0.02963) 80.93%,
        rgba(0, 0, 0, 0.00787) 90.01%,
        transparent
    );
}
.Module.EventList[theme="LIGHT"] > .content.LIST {
    color: #000;
}
.Module.EventList[theme="LIGHT"] > .content.LIST .event-list > li {
    background-color: #fff;
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.05);
}
.Module.EventList[theme="LIGHT"] > .content.LIST .event-list > li:hover {
    background-color: #e7e7e7;
}
.Module.EventList[theme="LIGHT"] > .content.FLYER,
.Module.EventList[theme="LIGHT"] > .content.GRID,
.Module.EventList[theme="LIGHT"] > .content.LIST .event-list > li > a {
    color: #000;
}
.Module.EventList[theme="LIGHT"] > .content.FLYER .event-list > li,
.Module.EventList[theme="LIGHT"] > .content.GRID .event-list > li {
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2);
}
.Module.EventList[theme="LIGHT"] > .content.FLYER .event-list > li > div > a > .details,
.Module.EventList[theme="LIGHT"] > .content.GRID .event-list > li > div > a > .details {
    background-color: #fff;
    color: #000;
}
.Module.EventList[theme="LIGHT"] > .content.FLYER .event-list > li > div > a > .details > .footnote,
.Module.EventList[theme="LIGHT"] > .content.GRID .event-list > li > div > a > .details > .footnote {
    color: #888;
}
.Module.EventList[theme="LIGHT"] > .content.FLYER [action="scroll-left"],
.Module.EventList[theme="LIGHT"] > .content.FLYER [action="scroll-right"],
.Module.EventList[theme="LIGHT"] > .content.GRID [action="scroll-left"],
.Module.EventList[theme="LIGHT"] > .content.GRID [action="scroll-right"] {
    color: #000;
}
.Module.EventList[theme="LIGHT"] > .content.GRID .card-list > div .foreground {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, 0.75));
}
.Module.EventList[theme="LIGHT"] > .content.GRID .card-list > div .foreground .row-top {
    background: linear-gradient(
        180deg,
        hsla(0, 0%, 100%, 0.4),
        hsla(0, 0%, 100%, 0.39213) 9.99%,
        hsla(0, 0%, 100%, 0.37037) 19.07%,
        hsla(0, 0%, 100%, 0.3375) 27.44%,
        hsla(0, 0%, 100%, 0.2963) 35.26%,
        hsla(0, 0%, 100%, 0.24954) 42.72%,
        hsla(0, 0%, 100%, 0.2) 50%,
        hsla(0, 0%, 100%, 0.15046) 57.28%,
        hsla(0, 0%, 100%, 0.1037) 64.74%,
        hsla(0, 0%, 100%, 0.0625) 72.56%,
        hsla(0, 0%, 100%, 0.02963) 80.93%,
        hsla(0, 0%, 100%, 0.00787) 90.01%,
        hsla(0, 0%, 100%, 0)
    );
}
