<div step="signup" class="Module CheckoutStep Widget Form" theme="LIGHT">
    <h2><a href="#" action="login">Log In</a></h2>
    <h2><a href="#" class="selected">Sign Up</a></h2>
    <form class="name" action="#" method="POST">
        <div name="firstName" class="Input Textbox Module has-label firstName has-left-icon" theme="LIGHT" style="">
            <div class="icon-container left"> <span class="icon icon-profile" aria-hidden="true"></span> </div>
            <div class="background"></div>
            <div class="label-container">
                <div class="label">First name</div>
            </div> <input type="text" autocapitalize="off" autocomplete="off" maxlength="51">
            <div class="border-container"></div>
        </div>
        <div name="lastName" class="Input Textbox Module has-label lastName has-left-icon" theme="LIGHT" style="">
            <div class="icon-container left"> <span class="icon icon-profile" aria-hidden="true"></span> </div>
            <div class="background"></div>
            <div class="label-container">
                <div class="label">Last name</div>
            </div> <input type="text" autocapitalize="off" autocomplete="off" maxlength="51">
            <div class="border-container"></div>
        </div>
        <div name="email" class="Input Textbox Module has-label email has-left-icon" theme="LIGHT" style="">
            <div class="icon-container left"> <span class="icon icon-envelope" aria-hidden="true"></span> </div>
            <div class="background"></div>
            <div class="label-container">
                <div class="label">Email</div>
            </div> <input type="text" autocapitalize="off" autocomplete="off" maxlength="51">
            <div class="border-container"></div>
        </div>
        <div name="emailConfirm" class="Input Textbox Module has-label emailConfirm has-left-icon" theme="LIGHT"
            style="">
            <div class="icon-container left"> <span class="icon icon-envelope" aria-hidden="true"></span> </div>
            <div class="background"></div>
            <div class="label-container">
                <div class="label">Confirm your e-mail</div>
            </div> <input type="text" autocapitalize="off" autocomplete="off" maxlength="501">
            <div class="border-container"></div>
        </div>
        <div name="password" class="Input Textbox Module has-label password has-left-icon" theme="LIGHT" style="">
            <div class="icon-container left"> <span class="icon icon-key" aria-hidden="true"></span> </div>
            <div class="background"></div>
            <div class="label-container">
                <div class="label">Password</div>
            </div> <input type="password" autocapitalize="off" autocomplete="off" maxlength="51">
            <div class="border-container"></div>
        </div> <a href="#" action="submit" class="button center-icon-right" theme="BLUE">
            <p>Sign up and proceed<span class="icon icon-arrow-right" aria-hidden="true"></span></p>
        </a>
    </form>
</div>