<div class="cardEvent">
    <div class="cardEvent__image">
        <div class="" style="height: 62px; width: 62px;">
            <span
                style="background-image: url(&quot;https://i1.sndcdn.com/artworks-4BIlataFBWpJkyb6-c6eHtA-t50x50.jpg&quot;); width: 62px; height: 62px; opacity: 1; display: block; background-size: cover; border-radius: 6px;"
                class=""></span>
        </div>
    </div>
    <div class="cardEvent__content">
        <div class="cardEvent__title">
            <div class="cardEvent__when">TUE, 30 JUN AT 12:00</div>
            <div class="cardEvent__what"><a [routerLink]="['/events/nikes']">Virtual Concert</a></div>
            <div class="cardEvent__where">At the X Stage</div>
        </div>
        <div class="cardEvent__actions flex-item">
            <ul class="list--inline">
                <li>
                    <div name="follow-button" class="Module FollowButton" theme="DARK" style=""><a
                            href="#" action="follow" class="button space-between"
                            theme="WHITE-OPAQUE">
                            <p>GO</p>
                            <!-- <span class="icon icon-plus"
                                aria-hidden="true"></span> -->
                        </a></div>
                </li>
            </ul>
        </div>
    </div>
</div>