<div class="cardCreator">
    <div class="cardCreator__image">
        <div class="" style="height: 62px; width: 62px;">
            <span
                style="background-image: url(&quot;https://i1.sndcdn.com/artworks-4BIlataFBWpJkyb6-c6eHtA-t50x50.jpg&quot;); width: 62px; height: 62px; opacity: 1; display: block; background-size: cover; border-radius: 6px;"
                class=""></span>
        </div>
    </div>
    <div class="cardCreator__content">
        <div class="cardCreator__info">
            <div class="cardCreator__name">[Name]</div>
            <div class="cardCreator__followers">5.5k followers</div>
        </div>
        <div class="cardCreator__actions flex-item">
            <ul class="list--inline">
                <li>
                    <div name="follow-button" class="Module FollowButton" theme="DARK" style=""><a
                            href="#" action="follow" class="button space-between"
                            theme="WHITE-OPAQUE">
                            <p>FOLLOW</p>
                            <!-- <span class="icon icon-plus"
                                aria-hidden="true"></span> -->
                        </a></div>
                </li>
            </ul>
        </div>
    </div>
</div>