<div name="image-gallery" class="Module ImageGallery grid" theme="DARK" style="">
    <div> <a [routerLink]="" (click)="showMedia()" action="load-item" index="0" class="loaded"
            style="background-image: url(&quot;https://static.tixr.com/static/images/external/img/6de10645-0d3c-4a26-82a2-f48809f3513f.png&quot;);">
            <span class="icon placeholder icon-tixr" aria-hidden="true"></span> <span class="icon icon-magnifying-glass"
                aria-hidden="true"></span> </a> </div>
    <div> <a href="#" action="load-item" index="1" class="loaded"
            style="background-image: url(&quot;https://static.tixr.com/static/images/external/img/668e0ed3-65f5-4e10-9443-99f7dd8c5e94.png&quot;);">
            <span class="icon placeholder icon-tixr" aria-hidden="true"></span> <span class="icon icon-magnifying-glass"
                aria-hidden="true"></span> </a> </div>
    <div> <a href="#" action="load-item" index="2" class="loaded"
            style="background-image: url(&quot;https://static.tixr.com/static/images/external/img/0c3d4901-1933-4265-9c21-c04be2ce50cc.png&quot;);">
            <span class="icon placeholder icon-tixr" aria-hidden="true"></span> <span class="icon icon-magnifying-glass"
                aria-hidden="true"></span> </a> </div>
    <div> <a href="#" action="load-item" index="3" class="loaded"
            style="background-image: url(&quot;https://static.tixr.com/static/images/external/img/3974c291-74ec-4d6e-91a6-cdbc9d3f2ae3.png&quot;);">
            <span class="icon placeholder icon-tixr" aria-hidden="true"></span> <span class="icon icon-magnifying-glass"
                aria-hidden="true"></span> </a> </div>
    <div> <a href="#" action="load-item" index="4" class="loaded"
            style="background-image: url(&quot;https://static.tixr.com/static/images/external/img/2201c7c0-9cea-45b8-8e5d-1bd72859b7de.png&quot;);">
            <span class="icon placeholder icon-tixr" aria-hidden="true"></span> <span class="icon icon-magnifying-glass"
                aria-hidden="true"></span> </a> </div>
    <div> <a href="#" action="load-item" index="5" class="loaded"
            style="background-image: url(&quot;https://static.tixr.com/static/images/external/img/e2ab6d7e-f42c-4bd4-892c-fdb31a4b6a05.png&quot;);">
            <span class="icon placeholder icon-tixr" aria-hidden="true"></span> <span class="icon icon-magnifying-glass"
                aria-hidden="true"></span> </a> </div>
    <div> <a href="#" action="load-item" index="6" class="loaded"
            style="background-image: url(&quot;https://static.tixr.com/static/images/external/img/fa38f715-f8be-49b0-868a-6d5a490dc615.png&quot;);">
            <span class="icon placeholder icon-tixr" aria-hidden="true"></span> <span class="icon icon-magnifying-glass"
                aria-hidden="true"></span> </a> </div>
    <div> <a href="#" action="load-item" index="7" class="loaded"
            style="background-image: url(&quot;https://static.tixr.com/static/images/external/img/ff241a1e-930d-43c7-87f6-43d7ee95d7e1.png&quot;);">
            <span class="icon placeholder icon-tixr" aria-hidden="true"></span> <span class="icon icon-magnifying-glass"
                aria-hidden="true"></span> </a> </div>
</div>