<div id="page-header" name="page-header" class="Module PageHeader" theme="DARK">
    <div class="content mob">
        <div class="wrap-content wrap--full-height wrap--full-widthx align-center">
            <ul class="links links-left">
                <li> 
                    <a routerLink="/" class="logo">
                        <!-- <img src="assets/images/Stageverse_Wordmark_White.png"> -->
                        <img src="assets/images/ui-assets/logo-s.png" style="height: 7vh;position: relative;top: 1px;left: 21px;
                    ">
                        <!-- <img src="assets/images/ui-assets/V-logo.png" style="height: 19px;position: relative;top: 10px;right: 18px;"> -->
                    </a> 
                    <a routerLink="/" class="logo">
                        <!-- <img src="assets/images/Stageverse_Wordmark_White.png"> -->
                        <img src="assets/images/ui-assets/logo.png" style="    height: 4vh;
                        position: relative;
                        margin-left: 46px;
                        top: 1vh;">
                    </a> 
                </li>
            </ul>
            <ul class="links links-center">
                <!-- <li> <a routerLink="/" class="logo">
                        <img src="assets/images/Stageverse_Wordmark_White.png">
                    </a> </li> -->
                <!-- <li class="hide-desktop"> <a id="65" href="/" class="type-icon back-link"> <span
                        class="icon icon-arrow-left-thin" aria-hidden="true"></span> </a> </li> -->
            </ul>
            <ul class="links links-right">
                <li class="hide-desktop">
                    <a [routerLink]="" (click)="showEarlyAccess()" href="#" class="button nav-early-access-button" theme="PINK"
                        action="custom-link">
                        <p>Early Access</p>
                    </a>
                </li>
                <!-- <li class="hide-desktop">
                    <a [routerLink]="" (click)="showEarlyAccess()" href="#" class="button" theme="PINK"
                        action="custom-link">
                        <p>Early Access</p>
                    </a>
                </li> -->
                <li class="hide-mobile" style="display: flex;gap: 1px;">
                    <a [routerLink]="" (click)="showEarlyAccess()" action="early-access" >
                        <img src="/assets/images/ui-assets/apple-button.png" style="height: 6vh;">
                    </a>
                    <a [routerLink]="" (click)="showEarlyAccess()" action="early-access" >
                        <img src="/assets/images/ui-assets/android-button.png" style="height: 6vh;">
                    </a>
                    <a [routerLink]="" (click)="showEarlyAccess()" action="early-access" >
                        <img src="/assets/images/ui-assets/ring.png" style="height: 6vh;">
                    </a>
                </li>
                <!-- <li class="login">
                    <div name="avatar" class="Module Avatar show-menu small" theme="DARK" style="">
                        <a [routerLink]="" (click)="showLogin()" action="log-in" style="">Log In</a>
                        <div class="initials" style="displayx: none;">
                            <span class="label">TR</span>
                        </div>
                        <div class="hover-wrapper">
                            <div class="popover" style="display: none;"> <span class="icon icon-diamond"
                                    aria-hidden="true"></span> <a href="/home/events">My Events</a> <a
                                    href="/home/media">My
                                    Media</a> <a href="/home/orders">My Orders</a> <a href="/home/payment">Payment
                                    Method</a> <a href="/home/profile">My Profile</a>
                                <hr> <a href="/logout"><span class="icon icon-power" aria-hidden="true"></span>Log
                                    Out</a> </div>
                        </div>
                    </div>
                </li> -->
                <!-- <li>
                    <a [routerLink]="" (click)="showLogin()" action="login" class="type-icon">
                        <span class="icon icon-profile" aria-hidden="true"></span>
                    </a>
                </li> -->
                <!-- <li class="hide-mobile">
                    <a href="https://www.instagram.com/stageverse" target="_blank" action="menu" class="type-icon">
                        <span class="s-icon s-icon-instagram" aria-hidden="true"></span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="" (click)="showGlobalMenu()" action="menu" class="type-icon">
                        <span class="s-icon s-icon-menu" aria-hidden="true"></span>
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</div>