<div class="panel panelAbout">
    <hr>
    <div class="panel__title">
        <h1>About</h1>
        <!-- <img src="assets/images/headerabout.png" style="width:100%"/> -->
    </div>
    <div class="panel__content">
        <div class="panelAbout__description">
            <p>$14 - $99</p>
            <p>Socialmeter: 4/5</p>
            <p>Immersometer: 5/5</p>
            <p>Available platforms: iOS, Android and Oculus Quest</p>
            <p>Requirements: ???</p>
            <app-collapsible>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea
                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat
                    nulla pariatur.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea
                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat
                    nulla pariatur.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea
                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat
                    nulla pariatur.</p>
            </app-collapsible>
        </div>
        <!-- <a href="#" action="toggle" class="button small left-align" theme="WHITE-OUTLINE">
            <p class="expand">Read More</p> <span class="icon expand icon-plus" aria-hidden="true"></span>
            <p class="collapse">Read Less</p> <span class="icon collapse icon-minus" aria-hidden="true"></span>
        </a> -->
    </div>
</div>