<div style="" class="Overlay MediaOverlay overlay-hidden Module View vp-min-height" theme="DARK">
    <div class="head">
        <div class="background"></div>
        <div class="content">
            <div name="avatar"></div> <a [routerLink]="" (click)="close()" action="close"> <span class="icon icon-close"
                    aria-hidden="true"></span> </a>
        </div>
    </div>
    <div class="body">
        <div class="content IMAGE"> <img class="image"
                src="https://static.tixr.com/static/images/external/img/6de10645-0d3c-4a26-82a2-f48809f3513f.png"
                height="558" width="761"> </div>
    </div>
    <div class="foot">
        <div class="content"> </div>
    </div>
</div>