<div style="" class="Overlay RequestPasswordReset overlay-hidden Module View vp-min-height" theme="LIGHT">
    <div class="head">
        <div class="background"></div>
        <div class="content">
            <div name="countdown"></div> <a href="#" action="close">
                <div class="background"></div> <span class="icon icon-close" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="body">
        <div class="content form Widget Form" theme="LIGHT">
            <h2>Forgot password</h2>
            <div class="form">
                <div name="email" class="Input Textbox Module has-label email has-left-icon" theme="LIGHT" style="">
                    <div class="icon-container left"> <span class="icon icon-envelope" aria-hidden="true"></span> </div>
                    <div class="background"></div>
                    <div class="label-container">
                        <div class="label">Email</div>
                    </div> <input type="text" autocapitalize="off" autocomplete="off" maxlength="51">
                    <div class="border-container"></div>
                </div>
                <a href="#" action="submit" class="button space-between" theme="BLUE">
                    <p>Reset my password</p><span class="icon icon-arrow-right" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="foot"></div>
</div>